	<div id="foursixty-container" style="display:none">
  		<h2 class="product-name-mobile" style=" font-weight: 300; text-transform: uppercase; text-align: center; letter-spacing: 1px; text-align: center !important; margin-top: 40px;margin-bottom: 10px;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: normal;">Styled on Insta</h2>
		<script data-track-conversion="true" data-cell-size="25%" data-theme="slider_v2" data-has-posts-selector="#foursixty-container" data-product-ids="{{ product.id }}" src="//foursixty.com/media/scripts/fs.slider.v2.5.js"  data-prepend-detail="true" data-feed-id="bombshell-sportswear"></script>
      <style>div.fs-has-links { text-indent: -9999px; position: static; font-weight: 500; } .fs-has-links::after {  padding:  6px 9px; border: 1px solid #fff; color:#fff; content: "SHOP IT"; text-indent: 0; display: block; font-size: 10pt; margin: 10px; }.fs-desktop .fs-timeline-entry div.fs-text-container { display: flex; flex-direction: column;align-items: center; justify-content: center; display: -webkit-flex;  -webkit-flex-direction: column;  -webkit-align-items: center;  -webkit-justify-content: center;  display: -ms-flexbox;  -ms-flex-direction: column;  -ms-flex-align: center;  -ms-flex-pack: center; transition: opacity .25s; } .fs-desktop .fs-timeline-entry .fs-text-container:hover { opacity: 1; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Times New Roman, serif;font-style:italic;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;}.fs-wrapper div.fs-text-container * {color:#fff}.fs-wrapper div.fs-text-container {background-color:rgba(9, 9, 9, 0.8); margin: 0px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 0.5px }
      	.fs-wrapper {text-align:center;} 
      </style>
	</div>
