
<!--

<script type="text/javascript">
  if($(window).width() > 500){
    // Fancybox Join our mailing list popup
    $(document).ready(function(){

      var check_cookie = $.cookie('mailing_list_delay_popup');
      if(check_cookie == null){
        $.cookie('mailing_list_delay_popup', 'expires_seven_days', { expires: 7 });
        //fire your fancybox here
        setTimeout(function(){
          $('#subscribe_popup').fancybox();
            
        }, 3000);
      }
    }); 
  };

</script>  

      <img  src="{{ 'Pop-Up.jpg' | asset_url }}">

-->


	

{% if settings.popup %}


<section class="block-subscribe-popup" id="popup-newsletter" > 
        <div class="indent">
    
          <form method="post" action="{{ settings.mailchimp }}" name="mc-embedded-subscribe-form" id="subscribe-form">
            <div class="block-content">
              <div class="h22"><b>Hey bombshell Babe</b></div>
              <div class="h44">want 10% off on your first order?</div>  
        <br>
            
              <div class="input-box">
				<input aria-label="Your name" type="text" name="NAME" id="newsletter-name" placeholder="Name" title="Name" class="input-text required-entry"/>
                <input aria-label="Your email" type="email" name="EMAIL" id="newsletter-email" placeholder="Email" title="Email" class="input-text required-entry validate-email"/>
                <button aria-label="Submit to subscribe" type="submit" name="subscribe" title="Subscribe" class="button"><span><span>Submit</span></span></button>
				<span>your email is safe with us. We never 3rd party sell.</span>
                <div class="clear"></div>
				
              </div>
              
              <div id="subscribe-result">
              </div>
              
              
            </div>
          </form>
        </div>
        <div class="clear"></div>
      </section>

{% endif %}


