<div class="register-side-panel register-panel-hide">
  <div class="side-button-container">
    <i class="fa fa-angle-right"></i>
    <div class="outside-txt" style="color: rgb(255, 255, 255);">Register and get 10% Off</div>
  </div>
  <div class="quickg-inside" style="background: rgba(0, 0, 0, 0) url({{'popup-bg.gif' | asset_url}}) no-repeat scroll 0% 0% / cover;">
    </div>
</div>