
<div class="shipping-rate container">
  <div class="title h1" style="font-size: 2rem;">SHIPPING RATES AND TIMES</div>
  <div class="note"><strong>NOTE</strong>: All Shipping times are after 2 day processing.</div>
  <div class="domestic-left">
    <div class="title" style="text-align: center; font-weight: 600; color: #000; text-transform: uppercase; letter-spacing: 2px; line-height: 18px !important; font-size: 1.6rem; margin-bottom: 10px;">DOMESTIC</div>
    <ul>
      <li><span>USPS First Class Under $75 (3-4 business days) </span><strong>$5.95</strong><strong> </strong></li>
      <li class="col-name">USPS First Class Over $75 (3-4 business days) <strong>FREE!</strong><strong> </strong></li>
      <li class="col-name"><span>USPS Priority Mail: (2-3 business days) </span><strong>$9.95</strong></li>
      <li class="col-name"><span>USPS Priority Mail Express: (1-2 business days)</span> <strong>$29.95</strong></li>
    </ul>
  </div>
  <div class="international-right">
    <div class="title" style="text-align: center; font-weight: 600; color: #000; text-transform: uppercase; letter-spacing: 2px; line-height: 18px !important; font-size: 1.6rem; margin-bottom: 10px;">INTERNATIONAL</div>
    <ul>
      <li class="col-name"><span>Tracked Courier Under $75 (7-20 Business days)</span> <strong>$5</strong></li>
      <li class="col-name"><span>Tracked Courier Over $75 (7-20 Business days)</span> <strong>FREE!</strong></li>
      <li class="col-name"><span>DHL Express (3-6 Business days)</span> <strong>$10</strong></li>
      <li class="col-name">DHL Express Over $150 (3-6 Business days)</span> <strong>FREE!</strong></li>
    </ul>
  </div>
</div>

